body {
  scroll-snap-type: x mandatory;
}

.recomendation {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  margin: 1px;
  scroll-snap-align: start;
}

.start-recipe-btn {
  text-align: center;
}
